span {
  position: relative;
  display: flex;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: lighter;
  color: lightskyblue;
}

.pause-play-button {

  justify-content: center;
  display: flex;
  position: fixed;
  right: 5%;
  top: 15%;
}

#mainDiv {
  /*display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100%;*/

  background-image: url("src/assets/back3.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.map-container {
  display: flex;
  justify-content: center;
  margin-top: -150px;

}

div {
  --size-cell: 58px;
  --nb-cell: 10;
  --z-rotate: 45deg;
  --x-rotate: 60deg;
}

.blocks {
  position: absolute;
  top: 700px;
  left: 0;
}

.map {
  line-height: 0;
  transform: translateY(90px) scale(1.65) rotateX(var(--x-rotate)) rotateZ(var(--z-rotate));
  margin: auto;
  width: calc(var(--size-cell) * var(--nb-cell));
  z-index: 1000;
}

.tile {
  user-select: none;
  margin: 0 -21px;
  animation: showTile 3s;
  transform: rotateZ(-45deg) rotateY(-60deg) scale(1.6);
  clip-path: polygon(50px 0, 0 25px, 0 32px, 50px 58px, 100px 33px, 100px 25px, 50px 0);
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 13%;
  justify-content: space-around ;
}
.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
    stroke: indianred;
  }
}

.percentage {
  #fill: #666;
  fill: black;
  font-family: sans-serif;
  font-size: 0.4em;
  text-anchor: middle;
}
